{% extends "base.html" %}
{% load bootstrap %}
{% block content_title %}Login{% endblock %}
{% block content %}
<div class="span6">
    <form class="well" action="." method="post">{% csrf_token %}
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
            <label for="username">Password</label>
            <input type="password" id="password" name="password">
            <div>
                <button type="submit" class="btn btn-large btn-success">Login</button>
                or <a href="/accounts/register">register new account</a>
            </div>
    </form>
</div>
{% endblock %}
