<html>
<head>
	<title>{% block title %}Write Now{% endblock %}</title>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/mint-choc/jquery-ui.css" rel="stylesheet"/>
<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet"/>
<link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet"/>
<link href="{{ STATIC_URL }}css/writenow.css" rel="stylesheet"/>
<!--[if (!IE)|(gte IE 8)]><!-->
  <link href="{{ STATIC_URL }}css/visualsearch-datauri.css" media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->
<!--[if lte IE 7]><!-->
  <link href="{{ STATIC_URL }}css/visualsearch.css" media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<style>
ul {
	list-style: none;
	margin-left: 0;
	padding-left: 1em;
	text-indent: -1em;
}

li.complete{
	text-decoration: line-through;
}
</style>
<script>
function runOnEnter($target, action){
	$target.on('keyup', function(e){
		if (e.keyCode == 13) action();
	});
}
</script>
{% block header %}
{% endblock %}
</head>
<body>
	<div class="container-fluid">
        <nav>
        <ul class="nav">
            {% if user.is_authenticated %}
                <li class="navbar-text">
                    <div>
                        Logged in as
                        <strong>{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</strong>
                    </div>
                </li>
                <li>
                    <a href="/accounts/logout/">Log Out</a>
                </li>
            {% else %}
                <li><a href="/accounts/login/">Log In</a>
            {% endif %}
            </ul>
        </nav>
{% block content %}{% endblock %}
	</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/underscore-min.js"></script>
<script src="{{ STATIC_URL }}js/backbone-min.js"></script>
<script src="{{ STATIC_URL }}js/visualsearch.js"></script>
<script src="{{ STATIC_URL }}js/writenow.js"></script>
{% block scripts %}{% endblock %}
	<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29762319-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>