<html>
<head>
	<title>{% block title %}Write Now{% endblock %}</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/mint-choc/jquery-ui.css" rel="stylesheet"/>
<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet"/>
<link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<style>
ul {
	list-style: none;
	margin-left: 0;
	padding-left: 1em;
	text-indent: -1em;
}

li.complete{
	text-decoration: line-through;
}
</style>
<script>
function runOnEnter($target, action){
	$target.on('keyup', function(e){
		if (e.keyCode == 13) action();
	});
}
</script>
{% block header %}
{% endblock %}
</head>
<body>
	<div class="container-fluid">
{% block content %}{% endblock %}
	</div>
</body>
</html>
