{% extends "base.html" %}
{% block scripts %}
<script>
$(document).ready(function() {
	WriteNow.UI.initUserView();
});
</script>
{% endblock %}
{% block title %}{{ user.username }}{% endblock %}
{% block content %}
	<h1>{{ user.username }}</h1>
	{% if user.list_set.count == 0 %}
		<div class="warning">No lists</div>
	{% else %}
		<table class="table table-striped table-bordered">
			{% for list in user.list_set.all %}
				<tr><td class="link_row"><a href="{{ list.get_absolute_url }}">{{ list }}</a></td></tr>
			{% endfor %}
		</table>
	{% endif %}
	<input type="text" id="new_list" placeholder="new list name"><input type="button" value="Create New List" id="create_list">
{% endblock %}