{% extends "base.html" %}
{% block header %}
<script>
$(document).ready(function() {
	$('#create_list').on('click', function(){
		location.href = "/{{ user.username }}/" + $('#new_list').val();
	});
});
</script>
{% endblock %}
{% block title %}{{ user.username }}{% endblock %}
{% block content %}
	<h1>{{ user.username }}</h1>
	{% if user.list_set.count == 0 %}
		<div>No lists</div>
	{% else %}
		<ul id="lists">
			{% for list in user.list_set.all %}
				<li><a href="{{ list.get_absolute_url }}">{{ list }}</a></li>
			{% endfor %}
		</ul>
	{% endif %}
	<input type="text" id="new_list" placeholder="new list name"><input type="button" value="Create New List" id="create_list">
{% endblock %}